@mixin common-page($baseCls) {
  .#{$baseCls} {
    .lui-template-list {
      padding: 16px;
      &-toolbar {
        display: flex;
        margin-bottom: 15px;
        justify-content: space-between;
        align-items: center;
      }
      &-page {
        display: flex;
        justify-content: center;
        margin-top: 15px;
      }
      &-criteria {
        margin-bottom: 15px;
        .left {
          float: left;
        }
      }
    }
    
  }

}

@mixin form-page($baseCls) {
  .#{$baseCls}{
    .lui-approve-template {
      &-header {
        display: flex;
        height: 60px;
        box-shadow: 0 -2px 4px 4px rgb(0 0 0 / 7%);
        justify-content: space-between;
        left: 0;
        padding: 0 60px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        align-items: center;
        background: #fff;
        border: 1px solid #e6eaea;
        button {
          margin-left: 12px;
        }
      }
      &-content {
        // min-width: 1200px;
        // height: calc(100% - 60px);
        padding: 60px 60px 0;
        display: flex;
        flex-direction: row;
        background: #f0f2f5;
        > * {
          padding: 0 24px;
          width: 100%;
        }
      }
    }
  }
}

@mixin form-componments-page($baseCls) {
  .#{$baseCls}{
    .lui-xform {
      background-color: #fff;
      margin-top: 20px;
      padding-bottom: 20px;
      .ele-grid-item {
        margin-left: -1px;
        margin-top: -1px;
        overflow: hidden;
        padding:6px 40px;
    
        .lui-form-item {
          margin-bottom: 0;
        }
    
        .ele-xform-fieldset {
          align-items: center;
          &-wrap {
            flex: 1;
          }
          &-label-wrap{
            width: 9em;
            max-width: 9em;
          }
        }
        .ele-antd-form-item{
          margin: 0;
        }
      }
    }
  }
}